.App {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

.field {
    overflow: auto;
    width: 80%;
    margin: 5% 10% 10% 10%;
}

.all-modal {
    overflow: auto;
    width: 90%;
    margin: 5% 5% 5% 5%;
    height: 80%;
}

.tablePad {
  padding: 1%
}

.square-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
    height: 250px;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #0D47A1;
    text-align: center;
}

.square-content table {
    margin: 0 auto;
    text-align: left;
}

.contract {
    margin: 25px 20px 20px;
}

.contractClosed {
    margin: 175px 20px 200px;
}


.bloo {
    color: #0D47A1;
}

.h3-right {
    float: right;
}

.bid {
    margin: 175px 20px 20px;
    color: #0D47A1;
}

.modal {
    background: #FFFFFF;
    color: #0D47A1;
    border-color: #0D47A1;
    font-size: 20px;
    width: 170px;
    height: 85px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 30px;
    margin-bottom: 100px;
    overflow: hidden;
}

.modal:hover {
    background: #0D47A1;
    color: #FFFFFF;
    border-color: #0D47A1;
}

.modalDone {
    background: #FFFFFF;
    color: #0D47A1;
    border-color: #0D47A1;
    font-size: 20px;
    width: 170px;
    height: 85px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 30px;
}

.modalDone:hover {
    background: #0D47A1;
    color: #FFFFFF;
    border-color: #0D47A1;
}

.addForm {
    background: #FFFFFF;
    color: #0D47A1;
    border-color: #0D47A1;
    font-size: 20px;
    width: 170px;
    height: 85px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.addForm:hover {
    background: #0D47A1;
    color: #FFFFFF;
    border-color: #0D47A1;
}

.addFormDone {
    background: #FFFFFF;
    color: #0D47A1;
    border-color: #0D47A1;
    font-size: 20px;
    width: 170px;
    height: 85px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 30px;
}

.addFormDone:hover {
    background: #0D47A1;
    color: #FFFFFF;
    border-color: #0D47A1;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
}

.App-logo {
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;

}

.App-header {
    background-color: #EEEEEE;
    height: 60px;
    padding: 5px;
    color: #0B0B85;
    font-family: 'Montserrat', sans-serif;
}

td {
    padding-right: 10px;
}

body {
    background-color: #FFFFFF;
    padding-bottom: 80px;
    font-family: 'Montserrat', sans-serif;

}

form {
    border: 3px solid #ccc;
    padding: 0 20px 25px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

input[type=checkbox],
input[type=radio] {
    margin-top: 5px;
    margin-right: 8px;
}

.form-label.capitalize {
    text-transform: capitalize;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
}

.checkbox-group .form-label {
    width: 50%;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*h2 {
  font-family: 'customfont', serif;
}*/

.container {
    background-color: #FFFFFF;
}

.inputField {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    width: 1000px;
}

.submitButton {
    background: #FFFFFF;
    color: #0D47A1;
    border-color: #0D47A1;
    font-size: 20px;
    width: 85px;
    height: 42px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;

}

.submitButton:hover {
    background: #0D47A1;
    color: #FFFFFF;
    border-color: #0D47A1;
}

h5 {
    color: white;
    font-size: 30px;
}

h6 {
    font-size: 20px;
}

p {
    color: black;
    margin-top: 5px;
}

.table {
    color: white;
}

.table:hover {
    background-color: #6789BB;
}
